@font-face {
    font-family:bratzfont;
    src: url("../media/fonts/font1.ttf");
  }
  
  
  @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
  
  
  h1 {
    font-size: 150px;
    color: rgb(172, 0, 166);
    text-align: center;
    outline: 2px;
    text-shadow: 1.5px 2.5px 2.5px black;
    -webkit-text-stroke: 0.5px rgb(252, 209, 17);
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(255, 192, 242), purple);
  
  }
  
  
  
  body {
      font-family: bratzfont;
      background-image: url("../media/images/background.jpeg")
      
  
  }
  
  .menu ul{
    width: 100%;
    list-style-type: none;
    background-color: azure;
    overflow: hidden;
    font-size: 20px;
    margin: 0;
    padding: 0;
   
  }
  
  .menu li{
    float: left;
  }
  
  .menu li a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
  
  }
  
  .menu li a:hover{
    background-color: lightpink;
  
  }
  body {
    font-family: bratzfont;
    background-image: url("../media/images/background.jpeg")
  
  }
  
  .section1 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    text-shadow: white;
  }
  
  .welcome {
  
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    padding: 1px 1px;
    text-align: center;
    border-radius: 40px;
    background-color: azure;
  }
  
  