@font-face {
  font-family:bratzfont;
  src: url("../media/fonts/font1.ttf");
}

h1 {
  font-size: 150px;
  color: rgb(229, 92, 225);
  text-align: center;
  outline: 2px;
  text-shadow: 1.5px 2.5px 2.5px black;
  -webkit-text-stroke: 1px rgb(252, 209, 17);
  margin: 0;

}



body {
    font-family: bratzfont;
    background-image: linear-gradient(to top, pink, purple);

}

.menu ul{

  list-style-type: none;
  background-color: azure;
  overflow: hidden;
  width: 440px;
  margin: auto;
 
}

.menu li{
  float: left;
}

.menu li a {
  display: inline-block;

  text-decoration: none;
  padding: 14px 16px;

}

.menu li a:hover{
  background-color: lightpink;

}



