.column {
    float: left;
    width: 40%;
    padding-right: 20%;

  }

  .column2 {
    float: right;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


body {
    background: rgba(182, 52, 197, 0.661);


}

